<?xml version="1.0" encoding="utf-8"?>
<ScrollView
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="fill_parent">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/layoutSettings">

        <TextView
            android:text="Xamarin Pong"
            android:textSize="20dp"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginBottom="15dp"
            android:id="@+id/textView1" />
        <TextView
            android:text="Difficulty"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtDifficulty" />
        <RadioGroup
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_horizontal"
            android:id="@+id/radioGroup1">
            <RadioButton
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="false"
                android:text="Easy"
                android:id="@+id/radioEasy" />
            <RadioButton
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Normal"
                android:id="@+id/radioNormal"
                android:checked="true" />
            <RadioButton
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Hard"
                android:id="@+id/radioHard"
                android:checked="false" />
        </RadioGroup>

        <TextView
            android:text="Sensivity"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtSensivity" />

         <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginVertical="5dp"
            android:id="@+id/seekBarSensivity"
            android:max="10"
            android:progress="5" />

        <TextView
            android:text="Player paddle"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtPlayerPaddle" />
        <ToggleButton
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/togglePaddle"
            android:focusedByDefault="false"
            android:checked="false"
            android:textOff="Left"
            android:textOn="Right"
            tools:text="aa" />

        <TextView
            android:text="Sound"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtSound" />
        <ToggleButton
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/toggleAudio"
            android:focusedByDefault="true"
            android:checked="true"
            android:textOff="Off"
            android:textOn="On"
            tools:text="aa" />

        <TextView
            android:text="Theme color"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtColor" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginVertical="5dp"
            android:id="@+id/seekBarRed"
            android:thumbTint="#ffb71c1c"
            android:max="239"
            android:progress="100" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/seekBarGreen"
            android:layout_marginVertical="5dp"
            android:thumbTint="#ff43a047"
            android:max="239"
            android:progress="149" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/seekBlue"
            android:layout_marginVertical="5dp"
            android:thumbTint="#ff2979ff"
            android:max="239"
            android:progress="237" />
        <ImageView
            android:src="#ff6493ef"
            android:layout_width="80dp"
            android:layout_height="80dp"
            android:layout_gravity="center_horizontal"
            android:id="@+id/imgThemePreview" />
        <TextView
            android:text="Player model: Metallic"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtPlayerSelect" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/seekBarPlayer"
            android:layout_marginVertical="5dp"
            android:layout_marginHorizontal="25dp"
            android:max="2"
            android:progress="0" />

        <TextView
            android:text="Ball model: Meteor"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtBallSelect" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/seekBarBall"
            android:layout_marginVertical="5dp"
            android:layout_marginHorizontal="25dp"
            android:max="2"
            android:progress="0" />

         <TextView
            android:text="Max game points: 5"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textAlignment="center"
            android:layout_marginVertical="10dp"
            android:id="@+id/txtMaxScore" />
        <SeekBar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/seekBarMaxScore"
            android:layout_marginVertical="5dp"
            android:layout_marginHorizontal="25dp"
            android:max="20"
            android:min="1"
            android:progress="5" />

    </LinearLayout>
</ScrollView>