<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/layoutSettings">

    <TextView
        android:text="Xamarin Pong"
        android:textSize="20dp"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textAlignment="center"
        android:layout_marginBottom="15dp"
        android:id="@+id/textView1" />
    <TextView
        android:text="Difficulty"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textAlignment="center"
        android:layout_marginVertical="10dp"
        android:id="@+id/txtDifficulty" />
    <RadioGroup
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="center_horizontal"
        android:id="@+id/radioGroup1">
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="Easy"
            android:id="@+id/radioEasy" />
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Normal"
            android:id="@+id/radioNormal" />
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Hard"
            android:id="@+id/radioHard" />
    </RadioGroup>


    <TextView
        android:text="Sound"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textAlignment="center"
        android:layout_marginVertical="10dp"
        android:id="@+id/txtSound" />
    <ToggleButton
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/toggleAudio"
        android:focusedByDefault="true"
        android:checked="true"
        android:textOff="Off"
        android:textOn="On"
        tools:text="aa" />

    <TextView
        android:text="Theme color"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textAlignment="center"
        android:layout_marginVertical="10dp"
        android:id="@+id/txtColor" />
    <SeekBar
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginVertical="5dp"
        android:id="@+id/seekBarRed"
        android:thumbTint="#ffb71c1c"
        android:max="255" />
    <SeekBar
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/seekBarGreen"
        android:layout_marginVertical="5dp"
        android:thumbTint="#ff43a047"
        android:max="255" />
    <SeekBar
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/seekBlue"
        android:layout_marginVertical="5dp"
        android:thumbTint="#ff2979ff"
        android:max="255"/>



</LinearLayout>
